<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">
          Register
        </h3>
      </div>
      <div class="card-body">
        <form class="form">

            <div class="form-group">
                <label>Name</label>
                <input [(ngModel)]="registerUserDat.name" name="name" type="text" class="form-control rounded-0" required>
              </div>

          <div class="form-group">
            <label>Email</label>
            <input [(ngModel)]="registerUserDat.email" name="email" type="text" class="form-control rounded-0" required>
          </div>
          <div class="form-group">
            <label for="">password</label>
            <input [(ngModel)]="registerUserDat.password" name="password" type="password" class="form-control rounded-0">
          </div>
          <button (click)="Register()" class="btn-primary btn float-right">Register</button>

        </form>
      </div>
    </div>

  </div>
</div>

