

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mega_Mart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/events" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/specialEvents" routerLinkActive="active">Premium</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link"  routerLink="/forms" routerLinkActive="active" href="#">Forms</a>
        </li>
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item ">
              <a class="nav-link" *ngIf="!auth.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  *ngIf="!auth.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" *ngIf="auth.loggedIn()" (click)="logout()" routerLinkActive="active">Logout</a>
              </li>
  
        </ul>
    
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div> 
  
  
  