<div class="row mt-5  " >
  <div class="col-md-6 mx-auto">
    <div class="card ">
      <div class="card-header">
        <h3 class="mb-0">Login</h3>
      </div>
      <div class="card-body">
       <form  class="form">

<div class="form-group">
  <label>Email</label>
  <input [(ngModel)]="registerUserData.email" name="email" type="text" class="form-control rounded-0" required>
</div>

<div class="form-group">
  <label >Password</label>
  <input  [(ngModel)]="registerUserData.password" name="password" type="password" class="form-control">
</div>

<button (click)="login()" class="brn btn-success float-right">Login</button>
       </form>

      </div>
      <div class="card-footer">
        dont have account?
        <a routerLink="/register" class="btn btn-primary">register</a>
      </div>
    </div>
  </div>
</div>