

<form class="pt-5">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="SourceServer">Source Server</label>
      <input [(ngModel)]='ansible.source_server' name='source_server' type="text" class="form-control" id="SourceServer" placeholder="websrv1.lab31.example.com">
    </div>
    <div class="form-group col-md-6">
      <label for="TargetDockerServer">Target Docker Server</label>
      <input [(ngModel)]='ansible.target_docker_server' name='target_docker_server'  type="text" class="form-control" id="inputPassword4" placeholder="docker.lab31.example.com">
    </div>
  </div>
  <div class="form-group">
    <label for="SourceWebsiteDirectory">Source Website Directory</label>
    <input [(ngModel)]='ansible.source_website_directory'  name='source_website_directory' type="text" class="form-control" id="SourceWebsiteDirectory" placeholder="/var/www/Orgis-website/public_html">
  </div>
  <div class="form-group">
    <label for="Target Website Directory">Target Website Directory</label>
    <input [(ngModel)]='ansible.target_website_directory' type="text"   name='target_website_directory'class="form-control" id="TargetWebsiteDirectory" placeholder="/var/www/Orgis-website">
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="DockerContainerName">Docker Container Name</label>
      <input [(ngModel)]='ansible.docker_container_name' name='docker_container_name'   type="text" class="form-control" id="DockerContainerName">
    </div>
    <div class="form-group col-md-2">
      
    </div>
    <div class="form-group col-md-5">
      <label for="Virtual">Virtual host</label>
      <input  [(ngModel)]='ansible.virtual_host' name='virtual_host' type="text" class="form-control" id="Virtual">
      
    </div>
    
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="DockerContainerName">Conf Directories 1</label>
      <input  [(ngModel)]='conf_directories[0]' name='conf_directories1' type="text" class="form-control" id="DockerContainerName">
    </div>
    <div class="form-group col-md-3">
      <label for="DockerContainerName">Conf Directories 2</label>
      <input  [(ngModel)]='conf_directories[1]' name='conf_directories2' type="text" class="form-control" id="DockerContainerName">
    </div>
    <div class="form-group col-md-3">
      <label for="DockerContainerName">Conf Directories 3</label>
      <input [(ngModel)]='conf_directories[2]' name='conf_directories3' type="text" class="form-control" id="DockerContainerName">
    </div>
    
    <div class="form-group col-md-3">
      <label for="Virtual">Conf Directories 4</label>
      <input [(ngModel)]='conf_directories[3]' name='conf_directories4' type="text" class="form-control" id="Virtual">
      
    </div>
    
  </div>


  
  <button (click)="ansibleSubmit()" type="submit" class="btn btn-primary">Submit</button>
</form>