<div class="row mt-5">
    <div class="col-md-4 " *ngFor="let event of eventt">
    
                <div class="card text-center mb-3  " >
            <div class="card-body " style="background-image:url(../../assets/img/img15.jpg)">
                <h3 class="card-title">
                    {{event.name}}
                </h3>
                <p class="card-text">
        
        {{event.desciption}}
                </p>
            
<a class="btn btn-primary" href="#">click</a>
            </div>
            <div class="card-footer">
                {{event.date| date:'shortDate'}}
            </div>

        </div>

    </div>
</div>